---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<h2>Teaching Training</h2>

I have completed Western University's Certificate Program in University Teaching and Learning. Through this program, I attended several teaching workshops and received peer feedback on my teaching methods, which has strengthened my approach to student engagement and pedagogical effectiveness.

<h2>Teaching Experience</h2>

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
